.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 300px;
  width: 100%;
}

.card:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, #f64f00, #ffffff);
  border-radius: 2px;
}

@media (max-width: 1400px) {
  .card {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 600px) {
  .card {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 400px) {
  .card {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
}